
h1 {
    text-align: center;
    color:#d4cccc;
    background-color: #175C6A;
    font-family: sans-serif;
}

h2 {
    text-align: center;
    font-family: sans-serif;
    color: #175C6A;
}

.container {
  margin-left: auto;
}

.playlist {
  font-family: sans-serif;
  font-size: 1.17em;
  width: 50%;
}

.content {
  font-family: sans-serif;
  display: flex;
}

.description {
  font-family: sans-serif;
}


.image {
  width: 50%;
}



* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
